*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
.container-section{
    background-color: aqua;

}
.header-section{
    background-color: bisque;

}
.header-one{
    background-color: rgb(79, 172, 248);
    text-align: center;
    padding: 20px;

}
.header-two{
    background-color: rgb(138, 160, 194);
    padding: 20px;
    padding-left: 60px;
}
.body-section{
    padding-top: 30px;


}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding:10px;
    width: 300px;
}
.cardImg{
    text-align: center;
}
}
.thumbnail img{
}